/**
 * Custom styling for the admin
 */

@import "variables-site/vars";
@import "mixins/mixins";

.wp-admin {

}

// Hide SimpleMap Update Nag
.toplevel_page_simplemap,
.post-type-sm-location {
	.update-nag {
		display: none;
	}
}

.image-upload-preview {
	background-repeat 	: no-repeat;
	background-position : center center;
	background-size 	: cover;
	height 				: 150px;
	width 				: 150px;

	&.bordered {
		border: 4px dashed $ltmed;
	}
}

.hide {
	display		: none;
	opacity		: 0;
	visibility	: hidden;
}

.field-error {
	background-color: $errorred;
	color 			: $light;
	font-weight 	: 700;
	padding 		: 0.5em;
}

.date-field-icon,
.time-field-icon {
	background-color: $ltgray;
	border 			: 1px solid $ltmed;
	border-radius 	: 3px 0 0 3px;
	height 			: 23px;
	margin-right 	: -6px;
	padding-right 	: 2px;
	width 			: 23px;
}

.field-date,
.field-time {
	margin: 0;
}
