p {
	margin-bottom: $size__default-bot-marg;
}

cite,
em,
i {
	font-style: italic;
}

blockquote,
q {
	quotes: "\“" "\”" "‘" "’";

	&:before {
		content		: open-quote;
		font-size	: 1.25em;
		line-height	: 1.25;
	}

	&:after {
		content		: close-quote;
		font-size	: 1.25em;
		line-height	: 1.25;
	}

	p {
		display: inline;
	}

	@include tablet-landscape-up {
		font-size 	: 1.5em;
		line-height : 1.45833333;
	}
}

blockquote {
	margin: 0 $size__default-bot-marg*2 $size__default-bot-marg;
}

address {
	font-style 	: normal;
	margin 		: 0;
}

pre {
	background		: $oc-gray-3;
	color 			: $oc-gray-7;
	@include font-size(0.9375);
	line-height		: $font__line-height-pre;
	margin-bottom	: 1.6em;
	max-width		: 100%;
	overflow		: auto;
	padding			: 1.6em;
}

code,
kbd,
samp,
tt,
var {
	@include font-size(0.9375);
}

abbr,
acronym {
	border-bottom	: 1px dotted $oc-gray-6;
	cursor			: help;
}

mark,
ins {
	background		: $oc-yellow-1;
	color 			: $oc-gray-8;
	padding 		: 0 0.25em;
	text-decoration	: none;
}

big {
	font-size: 125%;
}
