/**
 * Toggle Button.
 */
.menu-1-toggle {
	@include resetbutton( $oc-gray-7, $oc-gray-7, $oc-gray-0 );

	color 			: $oc-gray-0;
	font-size		: 1.25em;
	line-height		: 1.5;
	outline 		: 0;
	padding 		: 0.5em;
	width			: 100%;

	&:hover,
	&:focus,
	&:active {
		border		: none;
	}

	&:focus,
	&:active {
		box-shadow: inset 0 0 5px $oc-gray-5;
	}

	@include laptop-up {
		display 		: none;
	}
}

.menu-1-submenu-toggle {
	@include resetbutton();

	cursor 		: pointer;
	line-height	: 1.5;
	width 		: 2em;

	@include laptop-up {
		display: none;
	}
}

.menu-1-submenu-icon {
	display: none;

	@include laptop-up {
		display 	: inline-block;
		margin-left : 0.25em;
	}
}
