button,
[type="button"],
[role="button"],
[type="reset"],
[type="submit"] {
	background 			: $gray1;
	border 				: 1px solid $gray4;
	border-radius		: 3px;
	line-height 		: 1;
	padding 			: .6em 1em .4em;
	
	@include font-size(0.75);

	&:hover {
		background-color 	: $gray3;
		border-bottom-color	: $gray5;
	}

	&:focus,
	&:active {
		background-color 	: $gray3;
		border-top-color 	: $gray5;
	}
}
