/**
 * Menu Item Links.
 */
.menu-1-item-link {
	align-items 	: center;
	color 			: $oc-gray-7;
	display			: flex;
	padding 		: 0.5em 1em;
	text-decoration	: none;
	transition 		: $trans__default;
	white-space 	: nowrap;

	@include laptop-down {
		justify-content	: space-between;
	}

	@include tablet-portrait-up {
		color: $oc-gray-7;
	}

	@include laptop-up {
		background-color: $oc-gray-4;
		color 			: $oc-gray-9;
	}

	&:focus {
		outline-color: $oc-gray-4;
	}

}

.menu-1-item-link-1 { // 2nd-level menu item link, first submenu
	@include phone-down {
		padding-left: 2em;
	}
}

.menu-1-item-link-2 { // 3rd-level menu item link, second submenu
	@include phone-down {
		border-left : none;
		padding-left: 3em;
	}
}