/**
 * Pushes content aside from left.
 */
.tablet-push-from-left {

	&.tablet-menu-open {
		@include tablet-to-laptop {
			transform: translateX( $size__menu_width );

			.menu-primary-toggle {
				transform: translateX(-$size__menu_width);
			}
		}
	}

	.primary-menu-items-0 {
		@include tablet-to-laptop {
			background-color: $bg__tablet-menu;
			bottom 			: 0;
			height 			: 100%;
			left 			: 0;
			overflow 		: auto;
			position 		: fixed;
			top 			: 0;
			transform 		: translateX( -$size__menu_width);
			transition 		: transform 0.4s ease;
			width 			: $size__menu_width;
			z-index 		: 9999;
		}
	}

	&.admin-bar {
		.primary-menu-items-0 {
			@include tablet-to-adminbar {
				top: $size__wp-admin-bar-1;
			}

			@include adminbar-to-laptop {
				top: $size__wp-admin-bar-2;
			}
		}
	}

	.menu-primary-toggle {
		@include tablet-to-laptop {
			position 		: absolute;
			right 			: 0;
			transition 		: transform 0.4s ease;
			width 			: $size__menu_width;
			z-index 		: 9999;
		}
	}
}
