/**
 * Slide on top of content from top.
 */
.tablet-slide-ontop-from-top {
	.menu-1-items-0 {
		@include tablet-to-laptop {
			top 			: 0;
			transform 		: translateY( -100% );
		}
	}

	&.admin-bar {
		.menu-1-items-0 {
			@include tablet-to-adminbar {
				padding-top: $size__wp-admin-bar-1;
			}

			@include adminbar-to-laptop {
				padding-top: $size__wp-admin-bar-2;
			}
		}
	}
}
