/**
 * Slide on top of content from top.
 */
.tablet-slide-ontop-from-top {
	.menu-1-items-0 {
		@include tablet-to-laptop {
			background-color: $bg__tablet-menu;
			display 		: block;
			left 			: 0;
			overflow 		: auto;
			position 		: absolute;
			right 			: 0;
			top 			: 0;
			transform 		: translateY( -100% );
			transition 		: transform 0.4s ease;
			width 			: 100%;
			z-index 		: 9999;

			&[aria-expanded="true"] {
				transform 	: translateY(0);
			}
		}
	}

	&.admin-bar {
		.menu-1-items-0 {
			@include tablet-to-adminbar {
				padding-top: $size__wp-admin-bar-1;
			}

			@include adminbar-to-laptop {
				padding-top: $size__wp-admin-bar-2;
			}
		}
	}

	.menu-1-toggle {
		@include tablet-to-laptop {
			position 		: absolute;
			right 			: 0;
			width 			: $size__menu_width;
			z-index 		: 9999;
		}
	}
}
