a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}

	&:active,
	&:hover {
		color: $color__link-hover;
	}

	&:focus {
		color 			: $color__link-hover;
		outline-color 	: $color__outline;
	}

	&[target="_blank"] {
		position: relative;

		&:hover:after {
			content 	: "\f504";
			font-family : 'dashicons';
			position 	: absolute;
			right 		: -1em;
			top 		: -4px;
		}
	}

	$files: 'pdf' '#FF0000' '\f1c1',

			'doc' '#00188F' '\f1c2',
			'docx' '#00188F' '\f1c2',

			'xls' '#007233' '\f1c3',
			'xlsx' '#007233' '\f1c3',

			'ppt' '#dd5900' '\f1c4',
			'pptx' '#dd5900' '\f1c4',

			'txt' 'inherit' '\f0f6',
			'rtf' 'inherit' '\f0f6',

			'zip' 'inherit' '\f1c6',
			'rar' 'inherit' '\f1c6',
			'tar' 'inherit' '\f1c6',
			'gz' 'inherit' '\f1c6',
			'dmg' 'inherit' '\f1c6',
			'tar.gz' 'inherit' '\f1c6',
			'tgz' 'inherit' '\f1c6',
			'zipx' 'inherit' '\f1c6',

			'aac' 'inherit' '\f1c7',
			'flac' 'inherit' '\f1c7',
			'm4a' 'inherit' '\f1c7',
			'm4p' 'inherit' '\f1c7',
			'mp3' 'inherit' '\f1c7',
			'ogg' 'inherit' '\f1c7',
			'wav' 'inherit' '\f1c7',
			'wma' 'inherit' '\f1c7',

			'webm' 'inherit' '\f1c8',
			'mov' 'inherit' '\f1c8',
			'wmv' 'inherit' '\f1c8',
			'mp4' 'inherit' '\f1c8',
			'm4v' 'inherit' '\f1c8',
			'mpg' 'inherit' '\f1c8',
			'mp2' 'inherit' '\f1c8',
			'mpeg' 'inherit' '\f1c8',

			'ai' 'inherit' '\f1c5',
			'eps' 'inherit' '\f1c5',
			'psd' 'inherit' '\f1c5',
			'svg' 'inherit' '\f1c5',
			'swf' 'inherit' '\f1c5';

	@each $file in $files {
		&[href$=".#{nth($file, 1)}"] {

			&:hover:after {
				color: #{nth($file, 2)};
			}

			&:after {
				content 		: "#{nth($file, 3)}";
				display 		: inline-block;
				font-family 	: 'fontawesome';
				font-size 		: inherit;
				font-style 		: normal;
				font-variant 	: normal;
				font-weight 	: normal;
				line-height 	: 1;
				margin-left 	: 0.25em;
				speak 			: none;
				text-align 		: center;
				text-decoration : inherit;
				text-transform 	: none;
				width 			: 1em;
				vertical-align 	: inherit;
			}
		}
	}

	&:not([href]) {
		color: $color__link;
	}


	// $svgs: 'pdf' '#FF0000' 'pdf',
	// 		'nope' 'nope' 'nope';
	//
	// @each $file in $svgs {
	// 	&[href$=".#{nth($file, 1)}"] {
	//
	// 		&:hover:after {
	// 			content: url( "assets/svgs/#{nth($file, 3)}-hover.svg" );
	// 		}
	//
	// 		&:after {
	// 			content 		: url( "assets/svgs/#{nth($file, 3)}.svg" );
	// 			display 		: inline-block;
	// 			height 			: 1em;
	// 			margin-left 	: 0.25em;
	// 			width 			: 1em;
	// 		}
	// 	}
	// }



	// $svgbgs: 'pdf' '#FF0000' 'pdf',
	// 		'nope' 'nope' 'nope';
	//
	// @each $file in $svgbgs {
	// 	&[href$=".#{nth($file, 1)}"] {
	//
	// 		&:hover:after {
	// 			background-image: url( "assets/svgs/#{nth($file, 3)}-hover.svg" );
	// 		}
	//
	// 		&:after {
	// 			background-image: url( "assets/svgs/#{nth($file, 3)}.svg" );
	// 			background-size : 1em;
	// 			content 		: " ";
	// 			display 		: inline-block;
	// 			height 			: 1em;
	// 			margin-left 	: 0.25em;
	// 			width 			: 1em;
	// 		}
	// 	}
	// }


}

.menu {
	li {
		&:hover {
			a[target="_blank"] {
				position: relative;

				&:after {
					content 	: "\f504";
					font-family : 'dashicons';
					font-size 	: 1em;
					height 		: 16px;
					position 	: absolute;
					right 		: -0.5em;
					top 		: -0.5em;
					width 		: 16px;
				}
			}
		}
	}
}
