/**
 * Menu item effect styling.
 *
 * Parent gets the text-coin class.
 * A wrapper class gets the coin class.
 * There need to be two grandchildren: coin-front and coin-back.
 * The SVG on the front needs the coin-icon class.
 * The text on the back side needs to be in a span with the coin-text class.
 */
.text-coin {
	perspective 	: 800px;
	position 		: relative;
	vertical-align 	: top;

	.coin {
		display 		: block;
		position 		: relative;
		text-decoration : none;
		transform-style : preserve-3d;
		transition 		: $trans__default;

		@include laptop-up {
			height 		: $font__size-coin;
			width 		: $font__size-coin;
		}

	}

	@include laptop-up {

		&:hover {

			.coin {
				transform: rotate3d( 0, 1, 0, -180deg );
			}

			.coin-icon {
				opacity: 0;
			}

			.coin-text {
				opacity: 1;
			}
		}
	}

}

.coin-front,
.coin-back {
	height 	: 100%;
	position: absolute;
	width 	: 100%;
}

.coin-front {
	z-index: 2;

	@include laptop-up {
		.coin-icon {
			opacity 	: 1;
			transition 	: $trans__default;
		}
	}
}

.coin-back {

	@include laptop-up {
		transform: rotate3d( 0, 1, 0, 180deg);
	}

}

.coin-text {
	margin 		: 0 auto;
	transition 	: $trans__default;

	@include laptop-up {
		opacity 	: 0;
	}
}
