body,
button,
[role="button"],
input,
select,
textarea {
	color 		: $gray7;
	font-family	: $font__main;
	line-height	: $font__line-height-body;

	@include font-size(1);

	// .openSans-loaded & {
	// 	font-family: $font__main-open-sans;
	// }
}
