.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.page-content,
.entry-content,
.entry-summary {
	margin 		: 1.5em 0 0;
}

.page-links {
	margin: 0 0 1.5em;
}

.site-content {
	overflow 	: auto;
	width 		: 100%;

	@include centermax();

	margin-bottom: $size__default-bot-marg;
}

.content-area {
	display 	: flex;
	flex-wrap	: wrap;
	overflow 	: auto;
	padding 	: 1em;
	width 		: 100%;
}

[role="main"] {
	@include adminbar-up {
		.content-sidebar & {
			margin 	: 0 2.5% 0 0;
			width 	: 70%;
		}

		.sidebar-content & {
			margin 	: 0 0 0 2.5%;
			width 	: 70%;
		}
	}
}

.archive-entry-link {
	color: $dark;
}
