.alignleft {
	display 	: block;
	max-width 	: 50%;
	
	@include tablet-portrait-up {
		display 	: inline;
		float 		: left;
		margin-right: 1.5em;
	}
}

.alignright {
	display 	: block;
	max-width 	: 50%;
	
	@include tablet-portrait-up {
		display 	: inline;
		float 		: right;
		margin-left	: 1.5em;
	}
}

.aligncenter {
	@include center-block();
}
