.blocks {
	display 		: flex;
	flex-wrap 		: wrap;
	justify-content : space-between;
	margin-bottom 	: 1.5em;
}

.block {
	background-color: green;
	padding 		: 1em;

	@include autowidthflex( &, 1 );
}

.flex-center {
	align-items 	: center;
	display 		: flex;
	justify-content : center;
}